{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="title">Change a password</div>
            <ul class="list">
                <li class="item">
                    <p>New pasword</p>
                    <input type="text" placeholder="Input new password" name='password'>
                    <p>Conform new pasword</p>
                    <input type="text" placeholder="Input re-password" name='re_password'>
                </li>
                <input type="hidden" value="{{user_id}}" name='user_id'>
                <input type="submit" value="Confirm">
            </ul>
        </form>
    </div>
</body>
</html>