{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="title">Forgget a password</div>
            <ul class="list">
                <li class="item">
                    <p>User name</p>
                    <input type="text" placeholder="Input user name" name='username'>
                </li>
                <input type="submit" value="Send" class="submit">
                <a href="{% url 'login' %}">Login another account.</a>
            </ul>
        </form>
    </div>
</body>
</html>