
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '/app/css/signup.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="title">SignUp Here</div>
            <ul class="list">
                <li class="item">
                    <p>Username</p>
                    <input type="text" placeholder="Input username" name='username'>
                </li>
                <li class="item">
                    <p>Email</p>
                    <input type="text" placeholder="Input email" name='email'>
                </li>
                <li class="item">
                    <p>Password</p>
                    <input type="text" placeholder="Input password" name='password'>
                </li>
                <li class="item">
                    <p>Conform Password</p>
                    <input type="text" placeholder="Input re-password" name='re_password'>
                </li>
                <input type="submit" value="SignUp" class="submit">
                <a href="{% url 'login'%}">I have alreadly account.</a>
            </ul>
        </form>
    </div>
</body>
</html>